//
   Created by Jan on 1/19/2016.

// -----------------------------------------------------------------------
   FOOTER
   -----------------------------------------------------------------------
footer#footer.footer
    .container
        .row
            .col-md-12.text-center
                .footer_logo.fadeInUp.animated
                    img(src='../images/mN_logo.png', alt='microNovations')

    .container
        .row
            .col-md-12.text-center.fadeInUp.animated
                .social
                    h2 Follow Us
                    ul.list-inline.icon_list
                        li: a.facebook(href='')
                            i.fa.fa-facebook.circle-30
                        li: a.twitter(href='')
                            i.fa.fa-twitter.circle-30
                        li: a.linkedin(href='')
                            i.fa.fa-linkedin.circle-30
                        li: a.google-plus(href='')
                            i.fa.fa-google-plus.circle-30
                        li: a(target='_blank',href='https://join.cloudlink-it.com', title='Support')
                            i.fa.fa-comments-o.circle-30.primary

    .container
        .row
            .col-md-12.text-center.fadeInUp.animated
                .copyright_text.fadeInUp.animated
                    p #{new Date().getFullYear()} &copy;
                        a.smoothScroll(href='/')  microNovations
                        |  All rights reserved.
