//
   Created by Jan on 1/19/2016.

// -----------------------------------------------------------------------
   NAVBAR
   -----------------------------------------------------------------------
#navigation
    nav.navbar.navbar-default.navbar-fixed-top(role='navigation')
        .container
            // Brand and toggle get grouped for better mobile display
            .navbar-header
                a.navbar-brand(href="/")
                    img(src='../images/mN_logo.png', alt='microNovations')

                button.navbar-toggle.collapsed.transparent.no-border(type='button', data-toggle='collapse', data-target='#this-navbar', aria-expanded='false')
                    span.icon-bar
                    span.icon-bar
                    span.icon-bar
                    span.sr-only Toggle Navigation

            // Collect the nav links, forms, and other content for toggling
            .collapse.navbar-collapse#this-navbar
                ul.nav.navbar-nav.navbar-right
                    li: a.smoothScroll.active(href="/")
                            span.sr-only Home
                            i.fa.fa-home.primary
                    li.dropdown
                        a.dropdown-toggle(href='', data-toggle='dropdown') Services
                            span.caret
                        ul.dropdown-menu
                            li: a.smoothScroll(href='/services#NetworkSupport') Network Support & Management
                            li: a.smoothScroll(href='/services#HostedSolutions') Hosted (Cloud) Solutions
                            li: a.smoothScroll(href='/services#TechnologyAssessment') Technology Assessments
                            //li.divider(role='separator')
                            li: a.smoothScroll(href='/#partners') Partners
                    li: a.smoothScroll(href='/#about') About
                    li: a.smoothScroll(href='/#support') Support
                    li: a.smoothScroll(href='/#contact') Contact
