.heading-1,
.heading-2,
.heading-3,
.heading-4,
.heading-5,
.heading-6 {
  font-family: $font-family-heading;
}
.heading-1 {
  font-size: 40px;
}
.heading-2 {
  font-size: 66px;
}
.heading-3 {
  font-size: 55px;
}
.heading-4 {
  font-size: 35px;
  letter-spacing: 0.05em;
}
.heading-5 {
  font-size: 28px;
}
.heading-6 {
  font-size: 22px;
}
.paragraph-1,
.paragraph-2,
.paragraph-3 {
  font-family: $font-family-base;
  font-weight: $font-weight-light;
}
.paragraph-1 {
  font-size: 16px;
}
.paragraph-2 {
  font-size: 16px;
  letter-spacing: 0.03em;
}
.paragraph-3 {
  font-size: 13px;
  letter-spacing: 0.1em;
}

.text-center {
  text-align: center;
}
