.button {
  white-space: nowrap;
  display: inline-block;
  height: 52px;
  line-height: 52px;
  padding: 0 25px;
  background-color: $primary;
  font-family: $font-family-base;
  font-weight: $font-weight-thin;
  border-color: $primary;
  font-size: 17px;
  border-radius: 0;
  color: $white;
  text-decoration: none;
  -webkit-transition: all 0.15s ease;
  transition: all 0.15s ease;
  &:hover,
  &:focus {
    color: $white;
    background-color: $secondary;
    border-color: $secondary;
    text-decoration: none;
  }

  &.icon-btn {
    padding: 0;
    width: 52px;
    max-width: 52px;
  }

  &.link-btn {
    height: 40px;
    line-height: 40px;
    font-size: 25px;
    font-family: $font-family-heading;
  }

  &.primary-btn {
    color: $white;
    background-color: $primary;
    &:hover,
    &:focus {
      color: $white;
      background-color: $secondary;
      border-color: $secondary;
    }
  }

  &.secondary-btn {
    color: $white;
    background-color: $secondary;
    border-color: $secondary;
    &:hover,
    &:focus {
      color: $white;
      background-color: $primary;
      border-color: $primary;
    }
  }
}
