.cta {
  padding: 140px 0 200px 0;
}
@media only screen and (max-width: 768px) {
  .cta {
    padding: 80px 0 120px 0;
    .jumbotron {
      padding: 2em 3em;
      .heading-3 {
        font-size: 44px;
        line-height: 1;
      }
    }
  }
}
