.jumbotron {
  background-color: $light; // $grey-lightest
  padding: 4em 8.4em;
  .heading-3 {
    margin-bottom: 0.8em;
  }
}
@media only screen and (max-width: 768px) {
  .jumbotron {
    .scz-line {
      max-width: 20%;
    }
  }
}
