.main-menu {
  height: inherit;
  display: none;
  width: 50%;
  @include media-breakpoint-up(md) {
    display: block;
  }
  > ul {
    height: inherit;
    display: flex;
    align-items: center;
    justify-content: space-around;
    list-style: none;
    margin: 0;
    padding: 0;
    > li {
      height: inherit;
      margin: 0;
      padding: 0;
      list-style: none;
      &:last-of-type {
        margin: 0;
      }
      > a {
        height: inherit;
        display: inline-block;
        padding: 0;
        font-size: 1rem; // 16px
        color: inherit;
        text-decoration: none;
        font-family: $font-family-base;
        font-weight: $font-weight-bold;
        &:hover {
          color: $secondary;
          text-decoration: none;
        }
      }
    }
    > li.active {
      > a {
        text-decoration: none;
        color: $secondary;
      }
      ul.sub-menu.hidden {
        display: flex;
        opacity: 0;
        transition: all 225ms ease-in 0s;
        z-index: 1;
      }
      ul.sub-menu {
        display: flex;
        opacity: 0.8;
        transition: all 225ms ease-in 0s;
      }
    }
  }
}
//TODO: Font Helvetica Bold, font-size: 16px
