.social-bar {
  ul,
  li {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  ul {
    display: flex;
  }
  img {
    height: 1.5em;
    width: 1.5em;
    margin: 0.5em;
  }
  &.is-fixed {
    position: fixed;
    right: 3em;
    top: 50%;
    transform: translateY(-50%);
    z-index: 3;
  }
  &.vertical {
    ul {
      flex-direction: column;
    }
  }
}
