extends layout

block js-top
    //script(src='https://maps.google.com/maps/api/js?sensor=false')

block content

    //  -----------------------------------------------------------------------
        HOMEPAGE HOME Slider (Owl Carousel)
        -----------------------------------------------------------------------
    #Hhome.home
        #homepage-main-carousel.main-homepage-carousel.owl-carousel.owl-theme
            .item.bg.bg-slogan
                h2 Convergence of Technologies
                p  The best hybrid cloud solutions for business
            .item.bg.bg-cloud
                h2 Keeping Business Connected
                p  Secure productivity anywhere, without borders
            .item.bg_3.bg-feature_solution
                h2 Secure Cloud Solutions
                p  Tailored Enterprise-grade for today's business
            .item.bg_4.bg-world
                h2 Insight That Matters
                p  Illuminate & address risks to data and compliance
        .col-md-12.text-center
            .center
                .mouse
                    .wheel
                .arrows
                    span.unu
                    span.doi
                    span.trei

    //  -----------------------------------------------------------------------
        SERVICES
        -----------------------------------------------------------------------
    section#services.services
        .container.text-center
            .row
                .col-md-12.text-center
                    .heading
                        h2 Customized IT services for your business
                        hr.rounded-hr.primary
                        h3.subheading A full-service IT consulting firm at your service

        .container-fluid
            .row
                .col-xs-12.col-sm-4.col-md-4
                    .hovereffect
                        img.img-responsive(src='../images/services/service_01.jpg', alt='SERVICE 1')
                        .overlay
                            h2 Network Support & Management
                            p
                                a.smoothScroll(href='/services#NetworkSupport') Learn More...
                .col-xs-12.col-sm-4.col-md-4
                    .hovereffect
                        #hosted_solutions.owl-carousel.img-responsive
                            .item
                                img(src='../images/services/hosted_solutions/solution_01.jpg', alt= 'h_solution_1')
                            .item
                                img(src='../images/services/hosted_solutions/solution_02.jpg', alt= 'h_solution_2')
                            .item
                                img(src='../images/services/hosted_solutions/solution_03.jpg', alt= 'h_solution_3')
                        .overlay
                            h2 Hosted (Cloud) Solutions
                            p
                                a.smoothScroll(href='/services#HostedSolutions') Learn More...
                .col-xs-12.col-sm-4.col-md-4
                    .hovereffect
                        img.img-responsive(src='../images/services/service_02.jpg', alt='SERVICE 3')
                        .overlay
                            h2 Technology Assessments
                            p
                                a.smoothScroll(href='/services#TechnologyAssessment') Learn More...
    //  -----------------------------------------------------------------------
        ABOUT US
        -----------------------------------------------------------------------
    section#about.about
        .container
            .row
                .col-md-12.text-center
                    .heading
                        h2 About Us
                        hr.rounded-hr.primary

        .container
            .row
                .col-md-4.fadeInRight.animated
                    p
                        span: strong Who We Are
                    | microNovations is a full-service IT consulting firm based in Gray, Georgia. We offer specialized,
                    | highly customized IT solutions for small to medium sized businesses. Our engineers will assist you
                    | in making the right choices for your business and budget
                .col-md-4.fadeInRight.animated
                    p
                        span: strong Our Mission
                    | Simply to provide our clients with only the best and most cost-efficient IT solutions and support
                    | services. Look to our experts for strategic Cloud-Based as well as On-Premises IT services, so that
                    | you can comfortably take your mind off of ever-changing Information Technology landscape and concentrate
                    | on your core area of business.
                .col-md-4.fadeInRight.animated
                    p
                        span: strong Our Experience
                    | For over a decade, microNovations has been providing reliable IT solutions to businesses throughout
                    | Georgia. Our engineers and techs have extensive experience implementing and supporting the latest
                    | technologies. More importantly, we strive for customer service, satisfaction and doing IT right, the
                    | first time.
    .container
        .row
            .col-md-12
                div(align='center', style='margin: 5px 0;')
                    a#bbblink.rbhzbus(target='_blank', href='https://www.bbb.org/central-georgia/business-reviews/computers-sys-designers-and-consult/micronovations-in-gray-ga-20064#bbbseal', title='microNovations, LLC, Computers Sys Designers & Consult, Gray, GA', style='display: block;position: relative;overflow: hidden; width: 100px; height: 38px; margin: 0px; padding: 0px;')
                        img#bbblinkimg(style='padding: 0px; border: none;', src='https://seal-centralgeorgia.bbb.org/logo/rbhzbus/micronovations-20064.png', width='200', height='38', alt='microNovations, LLC, Computers Sys Designers & Consult, Gray, GA')
                    script(type='text/javascript').
                        var bbbprotocol = ( ("https:" == document.location.protocol) ? "https://" : "http://" ); document.write(unescape("%3Cscript src='" + bbbprotocol + 'seal-centralgeorgia.bbb.org' + unescape('%2Flogo%2Fmicronovations-20064.js') + "' type='text/javascript'%3E%3C/script%3E"));

    //  -----------------------------------------------------------------------
        PARTNERS
        -----------------------------------------------------------------------
    aside#Partners.partners
        .container
            .row
                .col-md-12
                    h2 Some of our
                        span.primary  partners
                    p.mb-20
                    | When you contract CloudLink IT as your IT consultant, you not only get our expert staff,
                    | but you also reap the benefits of the strategic alliances and partnerships we have nurtured
                    | throughout the years. Their support helps us to support you better.

        .container
            #partners.owl-carousel
                .item
                    img(src='../images/partners/hp_e.jpg', alt= 'HP')
                .item
                    img(src='../images/partners/ringcentral.jpg', alt= 'RingCentral')
                .item
                    img(src='../images/partners/sonicwall.jpg', alt= 'SonicWall')
                .item
                    a(target='_blank',href='https://www.microsoft.com/en-us/education/products/empowering-educators/default.aspx')
                        img(src='../images/partners/microsoft.jpg', alt='Microsoft')
                .item
                    img(src='../images/partners/lenovo.jpg', alt= 'Lenovo')
                .item
                    img(src='../images/partners/trend.jpg', alt= 'trendMecro')
                .item
                    img(src='../images/partners/carbonite.jpg', alt= 'carbonite')

    //  -----------------------------------------------------------------------
        SUPPORT
        -----------------------------------------------------------------------
    section#support.support
        .container
            .row
                .col-md-12.text-center
                    .heading
                        h2 Support
                        hr.rounded-hr.primary
                        h3.subheading.no-margin We are here when you need us.
    aside.parallax-slice.parallax-bg_01(data-stellar-background-ratio='0.5')
        .container
            .row.text-center.support_text
                .col-xs-12
                    h3 Q: Do you need IT products or support?
                    p
                        | Just call or link to us and we'll
                        | do our best to get your problem solved.
                .col-xs-12.col-md-6
                    .padded_item.text-uppercase.border_light
                        i.fa.fa-mobile-phone.fa-2x.primary
                        strong: h2 Tech Support
                        h3.primary +1 (478) 714-3469
                .col-xs-12.col-md-6
                    .padded_item.text-uppercase.border_light
                        i.fa.fa-cloud.fa-2x.primary
                        strong: h2 Remote Support
                        strong: h3: a(target='_blank',href='https://join.cloudlink-it.com') CloudLink-IT

    //  -----------------------------------------------------------------------
        TESTIMONIALS & CLIENTS
        -----------------------------------------------------------------------
    //section#TESTIMONIALS.testimonials
        .container
            #testimonials.owl-carousel
                // Testimonial 1
                .container
                    .row
                        .col-md-8.col-md-offset-2
                            .testimonial.text-center
                                .testimonial-image
                                    img.img-90.img-circle(src='../images/testimonials/fm_img_placeholder.png', alt='t1-img', title='t1')
                                h3 Great Support!
                                .blockquote-gradient
                                .testimonial-body
                                    blockquote
                                        p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Et cupiditate deleniti ratione in. Expedita nemo, quisquam, fuga adipisci omnis ad mollitia libero culpa nostrum est quia eos esse vel!
                                        footer FirstName LastName
                                            cite: strong  Company 1
                // Testimonial 2
                .container
                    .row
                        .col-md-8.col-md-offset-2
                            .testimonial.text-center
                                .testimonial-image
                                    img.img-90.img-circle(src='../images/testimonials/m_img_placeholder.png', alt='t1-img', title='t1')
                                h3 Amazing!
                                .blockquote-gradient
                                .testimonial-body
                                    blockquote
                                        p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Et cupiditate deleniti ratione in. Expedita nemo, quisquam, fuga adipisci omnis ad mollitia libero culpa nostrum est quia eos esse vel!
                                        footer FirstName LastName
                                            cite: strong  Company 2


    // Clients ------------------------------------------------------------
    //aside.clients
        .container
            .row
                .col-md-12
                    h2 Some of our
                        span.primary  clients
                    p.mb-20
                        | For years, we have been providing reliable IT solutions to businesses in Gray, Macon
                        | and the Central Georgia area. Our comprehensive services provide clients with unique
                        | technology solutions that are customized to meet the specific budgets & demands of their business.

        .container
            .row
                .col-md-12
                    #clients.owl-carousel
                        .item
                            img(src='../images/clients/cityOfMacon.jpg', alt= 'client_1')
                        .item
                            img(src='../images/clients/api.jpg', alt= 'client_2')
                        .item
                            img(src='../images/clients/perryHA.jpg', alt= 'client_3')
                        .item
                            img(src='../images/clients/warnerRobinsHA.jpg', alt= 'client_4')

    //  -----------------------------------------------------------------------
        CONTACT US
        -----------------------------------------------------------------------
    section#contact.contact
        .container
            .row
                .col-md-12.text-center
                    .heading.fadeInUp.animated
                        h2 Contact Us
                        hr.rounded-hr.primary

                        p.mb-40
                            | Ready to start your next project with us? That's great! At microNovations,
                            | we're dedicated to providing you with timely service and unparalleled technical support.
                            | For all inquiries and requests, just give us a call or send us an email and
                            | we will get back to you as soon as possible!

        .container
            .row
                .col-md-12
                    .contact-form
                        .row
                            .col-xs-12.col-md-4

                                ul.contact.list-unstyled
                                    li: address.mb-10
                                        i.fa.fa-map-marker
                                        | Mail : PO Box 4171
                                        br
                                        span Macon, GA 31208
                                    li
                                        i.fa.fa-phone
                                        |  +1 (844) 2 CLOUD 1 (225-6831)

                                    li
                                        i.fa.fa-envelope-o
                                        a.color-primary(href='mailto:info@micronovations.com') info@micronovations.com
                                    li
                                        i.fa.fa-clock-o
                                        |  M-F 9:00 - 17:00

                                .map-image(style='width: 100%; height: 140px;')

                                //#map-container(style='width: 100%; height: 210px;')
                                    script.
                                        function init_map() {
                                            var var_location = new google.maps.LatLng(32.842393, -83.676634);
                                            var var_mapoptions = {
                                                center: var_location,
                                                zoom: 14
                                            };
                                            var var_marker = new google.maps.Marker({
                                                position: var_location,
                                                map: var_map,
                                                title: "Venice"
                                            });
                                            var var_map = new google.maps.Map(document.getElementById("map-container"),
                                                    var_mapoptions);
                                            var_marker.setMap(var_map);
                                        }
                                        google.maps.event.addDomListener(window, 'load', init_map);

                            .col-xs-12.col-md-8
                                if (typeof msg !== 'undefined')
                                    if(!!err)
                                        div(class='msgbox err') #{msg}
                                    else
                                        div(class='msgbox success') #{msg}

                                form(action='/', method='post')
                                    fieldset
                                        label.sr-only(for='name') Name
                                        input.form-control(name='name', type='text', placeholder='Name', required='true')
                                        span.help-block

                                        label.sr-only(for='email') Email
                                        input.form-control(name='email', type='text', placeholder='Email Address', required='true')
                                        span.help-block

                                        label.sr-only(for='subject') Subject
                                        select.form-control(name='subject', type='text')
                                            option(value="").selected.hidden Please select service of interest
                                            option(value="Network/Server Support and Security") Network/Server Support and Security
                                            option(value="Secure App/File Sync Across Devices") Secure App/File Sync Across Devices
                                            option(value="Office 365/Hosted Exchange Solutions") Office 365/Hosted Exchange Solutions
                                            option(value="Archiving, Compliance and Loss Prevention") Archiving, Compliance and Loss Prevention
                                            option(value="Enterprise wide VoIP Telecomm/Conference") Enterprise wide VoIP Telecomm/Conference
                                            option(value="Hybrid Data Backup & Business Continuity") Hybrid Data Backup & Business Continuity
                                            option(value="Custom Web Applications") Custom Web Applications
                                            option(value="Other") Other
                                        span.help-block

                                        label.sr-only(for='message') Message
                                        textarea.form-control(name='message', type='text', placeholder='Enter your message...', rows='4')
                                        span.help-block

                                        input.btn.btn-block.transparent_btn(name='submit' type='submit', value='Send Message')

    // scroll back to top -------------------------------------------------------
    a.back-to-top.btn.btn-sm.transparent_btn(href='#', title='Back to Top')
        i.fa.fa-chevron-up
