doctype html
html(lang="en")
    head
        meta(charset='utf-8')
        meta(http-equiv='X-UA-Compatible', content='IE=edge')
        meta(name='viewport', content='width=device-width, initial-scale=1.0')

        title microNovations

        meta(name='author', content='#{author}')
        meta(name='description', content='#{description}')
        meta(name='keywords', content='#{keywords}')

        // Fonts
        link(rel='stylesheet', href='/client/bower_components/font-awesome/css/font-awesome.min.css')
        // Googleapis
        link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Lato:400,700|Oswald|Dosis:300,400,500,600,700,800|Montserrat:400,700')

        // Bootstrap Core CSS
        link(rel='stylesheet', href='/client/bower_components/bootstrap/dist/css/bootstrap.min.css')

        // Plugin CSS
        link(rel='stylesheet', href='/stylesheets/plugins/animate.min.css')
        link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/owl-carousel/1.3.3/owl.carousel.min.css')
        link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/owl-carousel/1.3.3/owl.theme.min.css')
        block css
        // Custom CSS
        link(rel='stylesheet', href='/stylesheets/style.css')

        block js-top


    body
        header
            include partials/navbar
        main
            block content
        footer
            include partials/footer

        // jQuery
        script(rel='text/javascript', src='/client/bower_components/jquery/dist/jquery.min.js')

        // Bootstrap Core JavaScript
        script(rel='text/javascript', src='/client/bower_components/bootstrap/dist/js/bootstrap.min.js')

        // Plugin JavaScript
        script(rel='text/javascript', src='https://cdnjs.cloudflare.com/ajax/libs/owl-carousel/1.3.3/owl.carousel.min.js')
        script(rel='text/javascript', src='/javascripts/plugins/smoothscroll.js')
        block js
        // Custom Theme JavaScript
        script(rel='text/javascript', src='/javascripts/main.js')

        // Google Analytics
        // TODO: change UA-XXXXX-X to be my site's ID.
        script.
            (function (n, o, b, l, e, s) {
                n.GoogleAnalyticsObject = l;
                n[l] || (n[l] =
                        function () {
                            (n[l].q = n[l].q || []).push(arguments)
                        });
                n[l].l = +new Date;
                e = o.createElement(b);
                s = o.getElementsByTagName(b)[0];
                e.src = '//www.google-analytics.com/analytics.js';
                s.parentNode.insertBefore(e, s)
            }(window, document, 'script', 'ga'));
            ga('create', '#{ga}', 'auto');ga('send', 'pageview');

