//
   Created by Nicole on 2/5/16.

extends layout
block css

block content

    #partnersPage
        section#MICROSOFT_PARTNER
            .container
                .row
                    .col-md-3
                        #ms-banner.owl-carousel
                            .item
                                script(type='text/javascript', src='https://feed.microsoft.com/FeedStore/GetFeed.ashx?FeedId=ee439843-df0a-4cc0-98b4-0d62bb2f0aa8&locale=en-us&partnerid=4089347&CompanyName=microNovations%2c%20LLC&AddressLine1=129%20Oak%20Dr.&City=Gray&State=Georgia&PostalCode=31032&CompanyPhoneNumber=%201%20%28844%29%202%20CLOUD%201%20%28225-6831%29&CompanyURL=http%3a%2f%2fwww.microNovations.com&EmailID=info%40microNovations.com&width=180px&height=150px')

                            .item
                                script(type='text/javascript', src='https://feed.microsoft.com/FeedStore/GetFeed.ashx?FeedId=0378645b-7317-4bb0-ad02-c67ef7fac867&locale=en-us&partnerid=4089347&CompanyName=microNovations%2c%20LLC&AddressLine1=129%20Oak%20Dr.&City=Gray&State=Georgia&PostalCode=31032&CompanyPhoneNumber=%201%20%28844%29%202%20CLOUD%201%20%28225-6831%29&CompanyURL=http%3a%2f%2fwww.microNovations.com&EmailID=info%40microNovations.com&width=180px&height=150px')

                            .item
                                script(type='text/javascript', src='https://feed.microsoft.com/FeedStore/GetFeed.ashx?FeedId=fdd866e1-7674-4c97-aada-c622e7718042&locale=en-us&partnerid=&CompanyName=microNovations%2c%20LLC&AddressLine1=129%20Oak%20Dr.&City=Gray&State=Georgia&PostalCode=31032&CompanyPhoneNumber=%201%20%28844%29%202%20CLOUD%201%20%28225-6831%29&CompanyURL=http%3a%2f%2fwww.microNovations.com&EmailID=info%40microNovations.com&TrialURL=https%3a%2f%2fportal.office.com%2fpartner%2fpartnersignup.aspx%3ftype%3dTrial%26id%3dbca08c83-a3c5-4499-a086-408d4057ec26%26msppid%3d4089348&width=180px&height=150px')
                    .col-md-9
                        h1 Microsoft
        section#X1_PARTNER.vertical-scrolling

        section#X2_PARTNER.vertical-scrolling




    //  -----------------------------------------------------------------------
        Microsoft Partner Page
        -----------------------------------------------------------------------

block js

