//
   Created by Jan on 1/24/2016.

extends layout
block js

block content
    //  -----------------------------------------------------------------------
        SERVICES
        -----------------------------------------------------------------------
    section#SERVICES.services
        .container.text-center
            .row
                .col-md-12.text-center
                    .heading
                        h2 Unique IT services for your business
                        hr.rounded-hr.primary
                        h3.subheading A full-service IT consulting firm at your service

        .container-fluid
            .row
                .col-xs-12.col-sm-4.col-md-4
                    .hovereffect
                        img.img-responsive(src='../images/services/service_01.jpg', alt='SERVICE 1')
                        .overlay
                            h2 Network Support & Management
                            p
                                a.smoothScroll(href='#NetworkSupport') Learn More...
                .col-xs-12.col-sm-4.col-md-4
                    .hovereffect
                        #hosted_solutions.owl-carousel.img-responsive
                            .item
                                img(src='../images/services/hosted_solutions/solution_01.jpg', alt= 'h_solution_1')
                            .item
                                img(src='../images/services/hosted_solutions/solution_02.jpg', alt= 'h_solution_2')
                            .item
                                img(src='../images/services/hosted_solutions/solution_03.jpg', alt= 'h_solution_3')
                        .overlay
                            h2 Hosted (Cloud) Solutions
                            p
                                a.smoothScroll(href='#HostedSolutions') Learn More...
                .col-xs-12.col-sm-4.col-md-4
                    .hovereffect
                        img.img-responsive(src='../images/services/service_02.jpg', alt='SERVICE 3')
                        .overlay
                            h2 Technology Assessments
                            p
                                a.smoothScroll(href='#TechnologyAssessment') Learn More...

    //  -----------------------------------------------------------------------
        Network Support
        -----------------------------------------------------------------------
    section#NetworkSupport
        .container
            .row
                .col-md-12.text-center
                    .heading
                        h2 Network Support & Management
                        hr.rounded-hr.primary

        .container
            .row
                .col-xs-12
                    p
                        | Getting reliable results from a network system requires in-depth planning, installation, security,
                        | and management. Our team of IT experts understands every aspect of network communications — from
                        | planning to project management, installation, testing, training and implementation.
                    br
                    .panel-group#accordion1.no-margin
                        .panel.panel-default
                            .panel-heading
                                h4.panel-title: a(href='#collapse-1', data-toggle='collapse', data-parent='#accordion1', aria-expanded='true')
                                    i.fa.fa-minus.mr-10
                                    |  Local Area and Wide Area Network Design & Support
                            #collapse-1.panel-collapse.collapse.in
                                .panel-body
                                    p
                                        | Details go here...
                        .panel.panel-default
                            .panel-heading
                                h4.panel-title: a(href='#collapse-2', data-toggle='collapse', data-parent='#accordion1')
                                    i.fa.fa-plus.mr-10
                                    |  Wired and Wireless Network Design & Installations
                            #collapse-2.panel-collapse.collapse
                                .panel-body
                                    p
                                        | Details go here...
                        .panel.panel-default
                            .panel-heading
                                h4.panel-title: a(href='#collapse-3', data-toggle='collapse', data-parent='#accordion1')
                                    i.fa.fa-plus.mr-10
                                    |  Secure Remote Access and Management Solutions
                            #collapse-3.panel-collapse.collapse
                                .panel-body
                                    p
                                        | Details go here...

    //  -----------------------------------------------------------------------
        Hosted (cloud) Solutions
        -----------------------------------------------------------------------
    section#HostedSolutions
        .container
            .row
                .col-md-12.text-center
                    .heading
                        h2 Hosted (Cloud) Solutions
                        hr.rounded-hr.primary

        .container
            .row
                .col-xs-12
                    p
                        | Experience has taught us that solutions to IT problems are as varied as the organization themselves.
                        | So we take the time to listen, learn and consider our client’s business focus, their budgets & resources
                        | and future growth plans, before recommending or implementing a technology solution.
                    P
                        |There are many hosted service providers willing to move your services and data to the cloud even if it
                        | doesn't make sense from a technical, financial or security standpoint.
                    br
                    .panel-group#accordion2.no-margin
                        .panel.panel-default
                            .panel-heading
                                h4.panel-title: a(href='#collapse2-1', data-toggle='collapse', data-parent='#accordion2', aria-expanded='true')
                                    i.fa.fa-minus.mr-10
                                    |  Secure Online/Offsite Backup Services (Encryption In Transit and At Rest
                            #collapse2-1.panel-collapse.collapse.in
                                .panel-body
                                    p
                                        | Details go here...
                        .panel.panel-default
                            .panel-heading
                                h4.panel-title: a(href='#collapse2-2', data-toggle='collapse', data-parent='#accordion2')
                                    i.fa.fa-plus.mr-10
                                    |  Hosted Microsoft Exchange Email, Archiving and Compliance Services
                            #collapse2-2.panel-collapse.collapse
                                .panel-body
                                    p
                                        | Details go here...
                        .panel.panel-default
                            .panel-heading
                                h4.panel-title: a(href='#collapse2-3', data-toggle='collapse', data-parent='#accordion2')
                                    i.fa.fa-plus.mr-10
                                    |  Hosted Voice over IP (VoIP), Tele & Video Conferencing Services
                            #collapse2-3.panel-collapse.collapse
                                .panel-body
                                    p
                                        | Details go here...
                        .panel.panel-default
                            .panel-heading
                                h4.panel-title: a(href='#collapse2-4', data-toggle='collapse', data-parent='#accordion2')
                                    i.fa.fa-plus.mr-10
                                    |  Managed IT Workstation/Server/Network Support
                            #collapse2-4.panel-collapse.collapse
                                .panel-body
                                    p
                                        | Details go here...
                        .panel.panel-default
                            .panel-heading
                                h4.panel-title: a(href='#collapse2-5', data-toggle='collapse', data-parent='#accordion2')
                                    i.fa.fa-plus.mr-10
                                    |  Website Development & Management Services
                            #collapse2-5.panel-collapse.collapse
                                .panel-body
                                    p
                                        | Details go here...

    //  -----------------------------------------------------------------------
        Technology Assessment
        -----------------------------------------------------------------------
    section#TechnologyAssessment
        .container
            .row
                .col-md-12.text-center
                    .heading
                        h2 Technology Assessments
                        hr.rounded-hr.primary

        .container
            .row
                .col-xs-12
                    p
                        | The quality, performance, and security of your network can be vastly improved with
                        | our technology audits. Working together with your in-house team(s), we analyze your IT
                        | infrastructure in order to identify vulnerabilities. Then we set priorities that match
                        | your personal budget and requirements/

    //  -----------------------------------------------------------------------
        PARTNERS
        -----------------------------------------------------------------------
    aside.partners
        .container
            .row
                .col-md-12
                    h2 Some of our
                        span.primary  partners
                    p.mb-20
                    | When you contract CloudLink IT as your IT consultant, you not only get our expert staff,
                    | but you also reap the benefits of the strategic alliances and partnerships we have nurtured
                    | throughout the years. Their support helps us to support you better.

        .container
            #partners.owl-carousel
                .item
                    img(src='../images/partners/hp.jpg', alt= 'HP')
                .item
                    img(src='../images/partners/ringcentral.jpg', alt= 'RingCentral')
                .item
                    img(src='../images/partners/sonicwall.jpg', alt= 'SonicWall')
                .item
                    img(src='../images/partners/lenovo.jpg', alt= 'Lenovo')
                .item
                    img(src='../images/partners/trend.jpg', alt= 'trendMecro')
                .item
                    img(src='../images/partners/carbonite.jpg', alt= 'carbonite')

    //  -----------------------------------------------------------------------
        SUPPORT
        -----------------------------------------------------------------------
    section#SUPPORT.support
        .container
            .row
                .col-md-12.text-center
                    .heading
                        h2 Support
                        hr.rounded-hr.primary
                        h3.subheading.no-margin We are here when you need us.
    aside.parallax-slice.parallax-bg_01(data-stellar-background-ratio='0.5')
        .container
            .row.text-center.support_text
                .col-xs-12
                    h3 Q: Have a question? Can't quite put the question into words?
                    p
                        | Just call us or set up a remote desktop session and we'll
                        | do our best to get your problem solved.
                .col-xs-12.col-md-6
                    .padded_item.text-uppercase.border_light
                        i.fa.fa-mobile-phone.fa-2x.primary
                        strong: h4 Tech Support
                        p (844) 2 C L O U D 1
                .col-xs-12.col-md-6
                    .padded_item.text-uppercase.border_light
                        i.fa.fa-cloud.fa-2x.primary
                        strong: h4 Remote Support
                        strong: p: a(href='') Cloud Link

    // scroll back to top -------------------------------------------------------
    a.back-to-top.btn.btn-sm.transparent_btn(href='#', title='Back to Top')
        i.fa.fa-chevron-up

