// colors
@import "variables.less";
@import "animations.less";

/*-----------------------------------------------------------------------
-----------------------------------------------------------------------*/

/*-----------------------------------------------------------------------
  Globals
-----------------------------------------------------------------------*/
html, body { height:100%; }

body {
  padding: 0; margin: 0;
  background-color: @white;
  color: #8c9195;
  overflow-x: hidden;
}

body {
  font-family: 'Dosis', sans-serif;
}
body { padding-top: 70px; }
p{
  font-family: 'Lato', sans-serif;
  //font-size: 14px;
}
a{
  font-family: 'Dosis', sans-serif;
  text-decoration: none;
}
h1, h2, h3, h4, h5, h6{
  font-family: 'Dosis', sans-serif;
}

// Color
.primary { color: @primary; }

// Links
a {
  color: @primary;
  text-decoration: none;

  &.active {
    color: fade(@primary, 30%);
  }

  &:hover,
  &:focus {
    color: darken(@primary, 20%);
    text-decoration: none;
  }
}

// Margins
.no-margin { margin: 0 !important; }
.no-padding { padding: 0 !important; }
.mb-20 { margin-bottom: 20px !important; }
.mb-40 { margin-bottom: 40px !important; }


/*-----------------------------------------------------------------------
  Nav
-----------------------------------------------------------------------*/

.navbar-default .navbar-nav {
  i { font-size: 18px !important; }
}
.navbar-default .navbar-nav>li>a {
  color: inherit;
  text-transform: uppercase;
  text-decoration: none;
}
.navbar-default .navbar-nav>li>a {
  &.active {
    color: fade(@primary, 30%);
  }

  &:hover,
  &:focus {
    color: darken(@primary, 20%);
    text-decoration: none;
  }
}
.navbar-brand {
  padding: 0; /* firefox bug fix */
}
.navbar-brand>img {
  height: 100%;
  padding: 5px; /* firefox bug fix */
  width: auto;
}

@media (max-width: 992px) {
  .navbar-nav.pull-right { float: none!important; }
}

.transparent { background: transparent !important; }
.no-border { border: none !important;}
//----TopBar---------------------------


/*-----------------------------------------------------------------------
  Footer
-----------------------------------------------------------------------*/
.footer {
  background-color: @lighter;
  padding: 50px 0;
}

.social {
  .icon_list {

    a {
      color: #000080;
      &:hover {color: @white }

      &.facebook i {
        &:hover { background:  #3280e7 }
      }
      &.twitter i {
        &:hover { background:  #32c8de }
      }
      &.google-plus i {
        &:hover { background:  #f96f4a }
      }
      &.linkedin i {
        &:hover { background:  #729fda }
      }
      &.youtube i {
        &:hover { background:  #ed5441 }
      }
    }
  }
}
.circle-30 {
  display:inline-block;
  height: 30px;
  width: 30px;
  line-height: 30px;
  text-align: center;
  border-radius: 100%;
}
//----SubBar---------------------------

/*-----------------------------------------------------------------------
  Main
-----------------------------------------------------------------------*/

//----Sections-------------------------

.heading {
  h2 {
    color: @dark;
    font-size: 40px;
    font-weight: 300;
    margin: 0;
  }
}
.subheading {
  font-size: 16px;
  font-style: italic;
  margin-bottom: 36px;
}
.rounded-hr {
  border: 2px solid;
  border-radius: 4px;
  max-width: 60px;
  //margin: 25px auto 30px;
}

section {
  padding: 50px 0;
}
aside {
  padding: 40px 0;
}

//----Imgs---------------------------------
.img-90 { width: 90px; }

.bg {
  background: linear-gradient(rgba(0, 0, 0, 0.5) 100%, rgba(0, 0, 0, 0.9) 100%) no-repeat;
  //background-repeat: no-repeat;
}
.bg-slogan{
  background: url(../images/bgs/bg_01.jpg) center center;
}
.bg-cloud{
  background: url(../images/bgs/bg_03.png) center center;
}
.bg-feature_solution{
  background: url(../images/bgs/bg_02.png) bottom right;
}
.bg-world{
  background: url(../images/bgs/bg_04.jpg) center center;
}

//----Owl Slider-------------------------
#homepage-main-carousel .item{
  padding: 200px 0;
  margin: 10px;
  color: @white;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  text-align: center;

  @media(max-width: 480px) {
    padding: 150px 0;
  }
}

//----Home-----------------------------
.home{
  h2 {
    font-size: 36px;
    text-transform: uppercase;
    letter-spacing: 12px;
    font-weight: 400;
  }
  p {
    color: #ececfb;
    font-size: 20px;
    text-transform: uppercase;
  }
}

.services {
  .hovereffect{
    h2 {
      font-weight: 400;
    }
  }

}

//----Hosted Solutions--------------------------

.hovereffect {
  width: 100%;
  height: 100%;
  float: left;
  overflow: hidden;
  position: relative;
  text-align: center;
  cursor: default;
  background: @primary;
}

.hovereffect .overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  overflow: hidden;
  top: 0;
  left: 0;
  padding: 50px 20px;
}

.hovereffect img {
  display: block;
  position: relative;
  max-width: none;
  width: calc(100% + 20px);
  -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.35s, transform 0.35s;
  -webkit-transform: translate3d(-10px,0,0);
  transform: translate3d(-10px,0,0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.hovereffect:hover img {
  opacity: 0.4;
  filter: alpha(opacity=40);
  -webkit-transform: translate3d(0,0,0);
  transform: translate3d(0,0,0);
}

.hovereffect h2 {
  text-transform: uppercase;
  color: @white;
  text-align: center;
  position: relative;
  font-size: 24px;
  overflow: hidden;
  padding: 0.5em 0;
  background-color: transparent;
}

.hovereffect h2:after {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background: @white;
  content: '';
  -webkit-transition: -webkit-transform 0.35s;
  transition: transform 0.35s;
  -webkit-transform: translate3d(-100%,0,0);
  transform: translate3d(-100%,0,0);
}

.hovereffect:hover h2:after {
  -webkit-transform: translate3d(0,0,0);
  transform: translate3d(0,0,0);
}

.hovereffect a, .hovereffect p {
  color: @white;
  opacity: 0;
  filter: alpha(opacity=0);
  -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.35s, transform 0.35s;
  -webkit-transform: translate3d(100%,0,0);
  transform: translate3d(100%,0,0);
}

.hovereffect:hover a, .hovereffect:hover p {
  opacity: 1;
  filter: alpha(opacity=100);
  -webkit-transform: translate3d(0,0,0);
  transform: translate3d(0,0,0);
}

//----About-------------------------------------
.about {
  .col-md-4 { margin-bottom: 15px; }
}

//----Partners----------------------------------
#partners .item{
  margin: 3px;
}
#partners .item img{
  display: block;
  width: 100px;
  height: auto;
}

//----Support-----------------------------------
.support_text { color: @lighter; }

.padded_item {
  padding: 20px 10px;
  margin-right: -1px;

  @media (max-width: 992px) {
    margin-bottom: 20px !important;
  }
}
.parallax-slice {
  padding: 100px 0 !important;
  background-attachment: fixed;
  position: relative;

  &.parallax-bg_01 {
    background: url("../images/bgs/bg_01.jpg")no-repeat fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }
}

.border_light {
  border: 2px solid @light;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}

//----Testimonials-clients----------------------
.testimonials {
  blockquote {
    position: relative;
    padding: 10px 25px;
    margin: 0;
    border: none;
  }

  .blockquote-gradient {
    margin: 15px 0;
    height: 1px;
    background: black;
    background: -webkit-gradient(linear, 0 0, 100% 0, from(transparent), to(transparent), color-stop(50%, black));

    &:after {
      content: "\f10e";
      color: @primary;
      font-family: FontAwesome;
      font-size: 20px;
      top: -15px;
      position: relative;
      display: block;
    }
  }
}
//----Clients-----------------------------------
#clients .item {
  margin: 3px;
}
#clients .item img {
  display: block;
  width: 100px;
  height: auto;
}

//----Partners----------------------------------
#MICROSOFT_PARTNER {
  background: url(../images/bgs/ms_bg1.jpg) no-repeat center / cover;
}
#X1_PARTNER {
  background: url(http://placehold.it/1920x1080/000000) no-repeat center / cover;
}
#X2_PARTNER {
  background: url(http://placehold.it/1920x1080/00ddff) no-repeat center / cover;
}

//----Contact-----------------------------------
.contact {
  font-size: 18px;

  i {  margin-right: 8px !important; }

  .col-md-4, .col-md-8 {
    @media (max-width: 992px) {
      margin-bottom: 20px !important;
    }
  }

  span { margin-left: 18px; }
}

.map-image {
  background: url('../images/map-img.png') 0 5px no-repeat;
}

//----Back2Top----------------------------------
.back-to-top {
  margin: 0;
  position: fixed;
  bottom: 5px;
  right: 15px;
  z-index: 100;
  display: none;
}
.transparent_btn {
  color: @white;
  background-color: rgba(0,0,0,0.2);

  &:hover {
    color: @white;
    background: @primary;
  }
}
