// Variables

// Colors
@white:       hsl(0,0%,100%);   //#fff

@light:       hsl(0,0%,66.7%);  //#aaa
@lighter:     hsl(0,0%,86.7%);  //#ddd

@primary:     hsl(350,100%,50%); //#d12d3d

@dark:        hsl(0,0%,15.3%);  //#272727
@darker:      hsl(0,0%,13.3%);  //#222

@black:       hsl(0,0%,0%);     //#000