$section-padding: 80px;

.pageNotFound {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: $section-padding 0;

  &-title {
    margin-bottom: 40px;
  }

  &-description {
    font-size: 0.7rem;
    white-space: pre;
    margin-bottom: 40px;
  }
}
