.service {
  background-color: $light;
  // min-height: 340px;
  padding: 2.8em;
  position: relative;
  p {
    margin-top: 0.5em;
    padding-bottom: 0.8em;
  }
  a {
    color: $secondary;
    position: absolute;
    z-index: 2;
    &:hover {
      color: $primary;
    }
  }
}
