.logo {
  display: block;
  width: 120px;
  img {
    width: 100%;
    height: auto;
  }
  a {
    display: block;
    width: 100%;
    height: 100%;
  }

  &.logo-mobile {
    width: 46px; // W: 64 H: 46
  }

  &.logo-fixed {
    position: fixed;
    top: 3.2em;
    left: 3.2em;
    z-index: 3;
  }
}
