.main-menu {
  width: 75%;

  ul,
  li {
    height: inherit;
    list-style: none;
    margin: 0;
    padding: 0;
  }

  ul {
    align-items: center;
    display: flex;
    justify-content: space-between;
  }

  a {
    color: inherit;
    display: inline-block;
    font-family: $font-family-base;
    font-weight: $font-weight-bold;
    font-size: $size-normal;
    height: inherit;
    padding: 0;
    text-decoration: none;
    &:hover {
      color: $secondary;
      text-decoration: none;
    }
  }

  li.active > a {
    color: $secondary;
    text-decoration: none;
  }

  ul.sub-menu.hidden {
    display: flex;
    opacity: 0;
    transition: all 225ms ease-in 0s;
    z-index: 1;
  }
  ul.sub-menu {
    display: flex;
    opacity: 0.8;
    transition: all 225ms ease-in 0s;
  }
}
